

/* Центр страницы */
.doc-wrapper {
  display: flex;
  justify-content: center;
  // padding: 40px 0;
}

/* Сам документ */
.doc {
  // width: 794px; /* A4 */
  // min-height: 1123px;
  // background: white;

  // padding: 80px 70px; /* как в Word */
  
  font-family: "Times New Roman", serif;
  font-size: 14pt;
  line-height: 1.6;

  // box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* Заголовки */
.doc h1,
.doc h2,
.doc h3 {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

/* Абзацы */
.doc p {
  text-align: justify;
  text-indent: 30px; /* красная строка */
  margin: 10px 0;
}

/* Первый абзац после заголовка без отступа */
.doc h3 + p {
  text-indent: 0;
}

/* Списки */
.doc ul {
  margin-left: 40px;
}

.doc li {
  margin: 5px 0;
}

/* Верхний блок (TASDIQLAYMAN) */
.doc .right {
  text-align: right;
}

/* Подпись */
.doc .signature {
  margin-top: 60px;
  text-align: right;
}