.menu-item {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(100%);
    background-color: white;
    // border-left: 2px solid #979797;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }


    &__active {
      animation: fadeIn_menu-item 1s ease-in-out forwards;
    }

    @keyframes fadeIn_menu-item {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    &__inactive {
        animation: fadeOut_menu-item 1s ease-in-out forwards;
    }

    @keyframes fadeOut_menu-item {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    }
}

