.history-of-the-center-page__main{
  font-family: "Roboto", sans-serif;

  
  &__section{

    width: 100%;
    padding: 50px 2%;

    &__title{
      font-size: 24px;
      font-weight: 600;
      color: #000000;
      margin-bottom: 20px;
      text-align: center;

    }


    &__image{
      width: 180px;
      overflow-clip-margin: content-box;
      overflow: clip;
      float: left;
      margin: 0 15px 10px 10px ;
    }

    &__content{
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      text-align: justify;
      box-sizing: border-box;
    }


    &__info-wrapper{
      padding: 20px 0;
    }

    &__info{
      font-size: 14px;
      text-align: justify;
    }
  }
  
}





@media (min-width: 550px) {
  .history-of-the-center-page__main{
    &__section{
      padding: 20px 3%;

      &__title{
        font-size: 25px;
        padding: 10px;
      }

      &__image{
        width: 250px;
      }

      &__content{
        font-size: 16px;
      }
      &__info{
        font-size: 16px;
      }
    }
  }
  
}




@media (min-width: 1300px) {
  .history-of-the-center-page__main{
    
    &__section{
      max-width: 1300px;
      margin: 0 auto;

      padding: 20px 4%;
    }
  } 

  
}