.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo img {
    width: 50px;
  }

  &__title {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: normal;
    display: block;
  }
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  z-index: 250;

  -webkit-tap-highlight-color: transparent;

  &_wrapper{
    width: 30px;
  } 

  &__line {
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover &__line {
    background-color: #555;
  }

  &.open {
    &__line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &__line:nth-child(2) {
      opacity: 0;
    }

    &__line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
