.header {
  width: 100%;
  font-family: "Roboto", sans-serif;

  &_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px ;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  


  &__topbar_wrapper{
    display: none;
  }


  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 50px;

    &>a>img{
      width: 100%;
    }
  }

  &__title {
    max-width: 227px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: normal;
    display: block;
  }

  
}

.menu-button {
  height: 20.15px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  
  position: relative;
  z-index: 200;

  -webkit-tap-highlight-color: transparent;

  &_wrapper{
    width: 30px;
  } 

  &__open{
    animation: buttonOpen 1s ease-in-out forwards;
  }

  @keyframes buttonOpen {
    0% {
      opacity: 1;
      z-index: 200;
    }
    50% {
      opacity: 0;
      z-index: 200;
    }
    100% {
      opacity: 1;
      z-index: 250;
    }
  
  }
  


  &__line {
    width: 25px;
    min-height: 3px;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
    border-radius: 5px;

    &__animation-true{

      &:nth-child(1) {
        // Стили для первого элемента
        animation: line1 1s ease-in-out forwards;
      }

      @keyframes line1 {
        from {
          transform: rotate(0deg);
          transform-origin: left; // фиксируем левый край
        }
        to {
          transform: rotate(45deg); // поворот вправо и вниз
          transform-origin: left;
        }
      }
      
    
      &:nth-child(2) {
        animation: line2 1 ease-in-out forwards;
      }

      @keyframes line2 {
        0% {
          opacity: 1;
        }
        20% {
          opacity: 10;
        }
        100% {
          opacity: 0;
        }
      }
    
      &:nth-child(3) {
        animation: line3 1s ease-in-out forwards;
      }

      @keyframes line3 {
        from {
          transform: rotate(0deg);
          transform-origin: left; // фиксируем левый край
        }
        to {
          transform: rotate(-45deg); // поворот вправо и вниз
          transform-origin: left;
        }
      }
    }

  }

  
}



@media (min-width: 340px) {


  .header__title {
    text-align: left;
    margin: 10px 12px;

  }
}


@media (min-width: 480px) {
  .header{
  
    &__topbar_wrapper{
      display: block;

    }


    &__container {
      display: flex;
    }
  
    &__logo{
      width: 80px;
    }
  
    &__title {
      max-width: 250px;
      font-size: 22px;
      font-weight: bold;
      margin: 10px 15px;
      // text-align: left;
    }
  
    &__subtitle {
      font-size: 15px;
      font-weight: normal;
      display: block;
    }
  
  }
  
  
}