.container {
  font-family: 'Roboto', sans-serif;
  padding: 25px 0;
}

.contentWrapper {
  margin-bottom: 40px;
}

.imgWrapper {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;

  & > img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
  }
}

.textWrapper {
  flex: 1;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: #555;
  text-align: justify;
  line-height: 1.3;
}




.cardListWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px;


  &> hr{
    display: none;
  }
}

.card {
  border-radius: 8px;

    
    &> hr{
      display: none;
    }
}

.cardImage {
  width: 100%;
  aspect-ratio: 16 / 11;
  object-fit: cover;
  background-color: #f0f0f0;
}

.cardContent {
  padding: 0 0 15px 0;
}

.cardTitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px; 
  color: #333;
}

.cardLink{
  text-decoration: none;
}

.cardDate {
  font-size: 0.9rem;
  color: #000000;
  margin: 7px 0;
}



@media (min-width: 800px) {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 40px 0;
  }

  .imgWrapper {
    width: 100%;
  }
  .title {
    font-size: 35px;
  }


  .contentWrapper {
    max-width: 76%;

    &>div{
      max-width: 100%;

      p {
        overflow-wrap: break-word;
      }

    }
  }

  .cardListWrapper {
    padding: 0;
    width: 22%;
    grid-template-columns: 1fr;

  }

  .card{
    
    &> hr{
      display: block;
    }
  }

  
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
    padding: 40px 0;
    margin: 0 auto;
  }
}