.container {
  margin: 30px 0;
}

.title{
  font-size: 18px;
  font-weight: 600;
}

.text{
  line-height: 28px;  
}



@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 52px 4%;
  }

}

