.academics-of-the-center-page__main {
  font-family: "Roboto", sans-serif;

  &__section {
    width: 100%;
    padding: 20px 2%;




    ul {
      list-style: none;
      padding: 0;
    }

    li {
      padding: 25px 0 0 0;
    }

    &__image{
      width: 170px;
      overflow-clip-margin: content-box;
      overflow: clip;
      float: left;
      padding: 0 12px 7px 12px;
    }

    &__content{
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      text-align: justify;
      box-sizing: border-box;
    }

    &__text {
      display: inline;
      font-size: 16px;
      color: rgb(33, 37, 41);

      &__name{
        color: rgb(0, 0, 0);
        font-weight: 700;
      }
    }

    &__custom-hr {
      padding-top: 30px;

      &>hr{
        border: none; /* Remove default border */
        height: 0.1px; /* Set the thickness of the line */
        background-color: rgb(158, 158, 158); /* Set the color of the line */
        width: 100%; /* Make the line span the full width */
      }
    }
  }


}

@media (min-width: 550px) {
  .academics-of-the-center-page__main {
    &__section {
      padding: 30px 3%;
    }

    &__card {
      &__image {
        width: 250px;
      }

      &__text {
        h3 {
          font-size: 1.75em;
        }

        p {
          font-size: 1.1em;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .academics-of-the-center-page__main {
    &__section {
      max-width: 1300px;
      margin: 0 auto;
      padding: 20px 4%;
    }
  }
}
