@charset "UTF-8";
.home-page__section__stats-section {
  background: #00a650;
}
.home-page__section__stats-section__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  flex-wrap: wrap;
}
.home-page__section__stat-item {
  flex: 1 1 200px;
  margin: 10px;
}
.home-page__section__stat-item > i {
  font-size: 40px;
  margin-bottom: 10px;
  display: block;
}
.home-page__section__number {
  font-size: 37px;
  font-weight: bold;
}
.home-page__section__label {
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.home-page__section__cta__wrapper {
  background-color: #006837; /* Зеленый фон */
  padding: 20px 4%;
  color: #fff;
}
.home-page__section__cta-text {
  font-size: 25px;
  font-weight: 500;
}
.home-page__section__cta-button {
  margin-top: 40px;
  background-color: #f15a24; /* Оранжевая кнопка */
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.home-page__section__cta-button:hover {
  background-color: #d94a1f; /* Темнее при наведении */
}
.home-page__section__cta-button > a {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
}
.home-page__section__resources {
  padding: 30px 4%;
  background-color: #727272; /* Серый фон */
}
.home-page__section__resources-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}
.home-page__section__resources-grid {
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 35px;
}
.home-page__section__resources-item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}
.home-page__section__resources-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.home-page__section__resources-icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.home-page__section__resources-text {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}
.home-page__section__resources-link {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
}
.home-page__section__resources-link:hover {
  text-decoration: underline;
}

@media (min-width: 650px) {
  .home-page__section__resources {
    padding: 30px 4%;
    background-color: #727272; /* Серый фон */
  }
  .home-page__section__resources-grid {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}
@media (min-width: 750px) {
  .home-page__section__stats-section__wrapper {
    padding: 40px 10%;
  }
  .home-page__section__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
  }
  .home-page__section__cta-button {
    margin: 0 0 0 20px;
  }
}
@media (min-width: 1000px) {
  .home-page__section__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6%;
  }
  .home-page__section__resources {
    padding: 30px 4%;
    background-color: #727272; /* Серый фон */
  }
  .home-page__section__resources-grid {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .home-page__section__resources-item {
    width: 400px;
  }
  .home-page__section__resources-item:nth-child(even) {
    margin-left: auto;
  }
}
@media (min-width: 1300px) {
  .home-page__section {
    padding: 0;
  }
  .home-page__section__stats-section__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 35px 4%;
  }
  .home-page__section__cta {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 4%;
  }
  .home-page__section__resources {
    padding: 30px 0;
  }
  .home-page__section__resources-grid {
    max-width: 1300px;
    padding: 0 4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .home-page__section__resources-title {
    max-width: 1300px;
    margin: 0 auto 30px auto;
    padding: 0 4%;
  }
}/*# sourceMappingURL=section.css.map */